In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('data_preprocessed.csv')

In [7]:
df.shape

(18691, 33)

In [13]:
df

,customer_id,age,gender_cd,region_size,foreign_flg,entrepreneur_flg,auto_flg,traveler_flg,partnership_flg,child_amt,...,emp_gender_cd,emp_children_cnt,emp_work_months_cnt,emp_citizenship_country_cd,emp_marital_status_cd,day_of_week,is_holiday,approval_flg,bundle_flg,region_size_numeric
0,422206773,58.0,0.0,no,NaN,NaN,NaN,NaN,NaN,NaN,...,W,NaN,1,NaN,NaN,1,0,0,NaN,NaN
1,348648289,44.0,1.0,rural,0.0,0.0,0.0,0.0,1.0,1.0,...,W,NaN,2,RUS,NaN,2,0,0,1.0,4.0
2,345496995,23.0,0.0,town,0.0,0.0,1.0,0.0,1.0,0.0,...,W,NaN,6,NaN,NaN,4,0,1,0.0,1.0
3,182783192,34.0,1.0,town,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,8,NaN,NaN,4,0,1,NaN,1.0
4,138498254,30.0,1.0,no,NaN,NaN,NaN,NaN,NaN,NaN,...,W,NaN,7,NaN,NaN,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18686,365712573,49.0,0.0,urban,0.0,1.0,0.0,0.0,1.0,3.0,...,W,NaN,2,NaN,NaN,2,0,0,NaN,2.0
18687,305526568,58.0,0.0,msk,0.0,0.0,0.0,0.0,0.0,0.0,...,W,NaN,6,NaN,NaN,4,0,0,NaN,3.0
18688,77876991,47.0,1.0,urban,0.0,1.0,1.0,1.0,1.0,1.0,...,M,NaN,4,NaN,NaN,4,0,0,1.0,2.0
18689,321508947,41.0,1.0,town,0.0,0.0,1.0,0.0,1.0,1.0,...,W,NaN,0,NaN,NaN,3,0,0,NaN,1.0
18690,212981864,29.0,0.0,no,NaN,NaN,NaN,NaN,NaN,NaN,...,W,NaN,8,NaN,NaN,0,0,0,NaN,NaN

In [10]:
df.finish_dttm.describe()

count          18691
unique          1033
top       2024-04-02
freq              62
Name: finish_dttm, dtype: object

In [11]:
df.finish_dttm.min()

'2022-01-01'

In [12]:
df.finish_dttm.max()

'2024-11-05'